#searchTAG{
    background: #FAFAFA;
    box-shadow: 0px 0px 60px 22px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width:fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchTAG span{
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: #0B192F
}

#searchTAG #searchbar{
    width: 100%;
    text-align: center;
}

#searchbar span{
    font-size: 30px;
    font-weight: 400;
    color: #8E8FA0;
}

#searchbar input{
    display: inline-block;
    width: 75%;
    height: 35px;

    border: none;
    border-bottom: 2px solid #8E8FA0;
    background-color: transparent;
    outline: none;
    color: #8E8FA0;
    font-size: 30px;
    font-weight: 400;
}

#searchbar #buttonPlus{
    display: inline-block;
}

#searchbar #buttonPlus{
    width: 34px;
    height: 34px;
    background: #0B192F;
    border-radius: 10px;
    color: #FAFAFA;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.ui-helper-hidden-accessible{
    display: none;
}

#ui-id-1{
    height: 200px;
}

#userTrovati{
    background: rgba(217, 217, 217, 0.01);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#userTrovati::-webkit-scrollbar {
    display: none;
}

.newUser{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid #B0AFAF;
    cursor: pointer;
}

.newUserImage img{
    width: 50px;
    height: 50px;
    margin: 0px 8px;
    border-radius: 50%;
    background-color: aquamarine;
}

.newUserData{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.newUserName{
    font-weight: 500;
    font-size: 18px;
    color: #0B192F;
}

.newUserNick{
    color: #B0AFAF;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    width: max-content;
}