/*---   CLASSI   ---*/



/*---   PER LA PARTE DEI MESSAGGI   ---*/

#chat{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 90vh;
}

/*---   BOTTONI DI AZIONE   ---*/

#actions{
    position: absolute;
    bottom: 0;
    width: 25%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.25);
    min-width: 300px;
}

#actions div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 8px;
}

#actions div span{
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

#actions .buttonaction{
    padding: 6px;
    background-color: #0B192F;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

#actions .buttonaction img{
    width: 25px;
    height: 25px;
}


/*---   BARRA INVIA MESSAGGIO   ---*/

#sendbox{
    width: 65%;
    z-index: 3;
    position:absolute;
    bottom: 20px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#dataMessage{
    width: 85%;
    height: 4vh;
    border-radius: 40px 0px 0px 40px;
    background-color: #fafafa;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
}

#sendbox #other{
    display: flex;
    padding-right: 8px;
    border-right: 1px solid #B0AFAF;
    max-width: fit-content;
}

#sendbox #other img{
    width: 4vh;
    min-width: 3vh;
    height: 4vh;
    min-height: 3vh;
    margin-left: 8px;
    cursor: pointer;
}

#dataMessage input{
    margin-left: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 300;
    width: 100%;
    color: #757585;
    padding: 2px;
}

#sendButton{
    width: 15%;
    min-width: 50px;
    max-width: 80px;
    height: 4vh;
    padding: 8px;
    border-radius: 0px 40px 40px 0px;
    background-color: #0B192F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendButton img{
    width: 4vh;
    min-width: 3vh;
    height: 4vh;
    min-height: 3vh;
    margin-right: 5px;
}

/*---   BARRA CONTATTO IN ALTO   ---*/

#contatto{
    width: 60%;
    height: 10vh;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    border-radius: 70px;
}

#utente{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#utente img{
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
    margin-right: 8px;
}

#utente span{
    font-weight: 500;
    font-size: 27px;
}

#status{
    margin-right: 6%;
    text-align: center;
}

.isonline{
    color: #267020;
}

.notonline{
    color: red;
}

#status #online{
    font-size: 20px;
    font-weight: 400;
}

#status #nickname{
    font-size: 12px;
    font-weight: 300;
    color: #B0AFAF;
}



/*---   LISTA MESSAGGI   ---*/

#messages{
    width: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#messages::-webkit-scrollbar {
    display: none;
}

#messages:first-child{
    padding-top: 5%;
}

#messages:last-child{
    padding-bottom: 40px;
}

.fmessage,
.mymessage{
    width: 100%;
    margin-bottom: 2px;
}

.fmessage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mymessage{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mymessage > div{
    width: auto;
    height: auto;
    max-width: 30%;

    padding: 10px;
    margin: 20px 0px 20px 0px;
    background: #5798DA;
    border-radius: 20px 0px 20px 20px;

    word-wrap: break-word;
}

.fmessage > div{
    width: auto;
    height: auto;

    max-width: 30%;
    padding: 10px;

    background: #FAFAFA;
    border-radius: 0px 20px 20px 20px;
    word-wrap: break-word;
}


/*---   BOX EMOJI   ---*/

#emojibox,
#imagebox{
    position: absolute;
    background-color: #FAFAFA;
    border-radius: 10px;
    width: 30%;
    min-width: 350px;
    box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.25);
}

#emojibox #titoloEmo,
#imagebox #titoloImg{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 85%, 0.3);
    border-radius: 10px 10px 0px 0px;
    color: #0B192F;
}

#emojibox #containeremoji{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#emojibox #containeremoji::-webkit-scrollbar {
    display: none;
}

.emoji{
    padding: 3px;
    margin: 1px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 5px;
}

.emoji:hover{
    background-color: #a0a0ae;
}

/*---   CONTAINER IMAGES   ---*/

#imagebox #containerImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#imagebox #containerImg::-webkit-scrollbar {
    display: none;
}

#imagebox input{
    display: none;
}

#imagebox #caricafirst{
    cursor: pointer;
    width: 97%;
    height: 295px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    background-color: #cde6ff;
    color: #0B192F;
    border-radius: 10px;
    border: 2px dashed #0B192F;
}

#imagebox #caricafirst:hover{
    background-color: #aad0f7;
}

#moreImg{
    width: 34px;
    height: 34px;
    background: #cde6ff;
    border-radius: 10px;
    color: #0B192F;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #0B192F;
    margin-left: 8px;
}

#moreImg:hover{
    background-color: #aad0f7;
}

.photo{
    width: 200px;
    height: 300px;
    text-align: right;
    padding: 5px;
    margin-bottom: 25px;
}

.nophoto{
    padding: 5px;
    
    background-color: #ff4949;
    color: #ffc3c3;
    font-size: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
}

.nophoto:hover{
    /*background-color: #fe6a6a;*/
    background-color: #ffc3c3;
    color: red;
}

    
#footerImgbox{
    width: 100%; 
    height: 48px;
    text-align: right; 
    background-color: #d9d9d94d; 
    border-radius: 0px 0px 10px 10px;
}

#sendImg{
    padding: 8px 12px;
    background-color: #0B192F;
    color: #FAFAFA;
    margin: 8px;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
}