/*---- Stile per popup per creazione nuovo gruppo ----*/

/*DA ELIMINARE*/
#group-box{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
}
/*-------------*/

.nascondi{
    display: none !important;
}

#newGroup{
    background: #FAFAFA;
    box-shadow: 0px 0px 60px 22px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 45%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#nameGroup{
    width: 90%;
    margin: 15px 0px 15px 0px;
}

#newGroup span{
    font-weight: 700;
    font-size: 45px;
    color: #0B192F;
}

#nameGroup span{
    font-size: 16px;
    font-weight: 500;
}

#nameGroup input{
    display: inline-block;
    width: 80%;
    height: 20px;
    border: 1px solid #0B192F;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    color: #0B192F;
    font-size: 15px;
    font-weight: 400;
}



#peopleList{
    background: rgba(217, 217, 217, 0.01);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#peopleList::-webkit-scrollbar {
    display: none;
}

#peopleList .item-new-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid #B0AFAF;
}

#peopleList .name-item{
    width: 50%;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

#peopleList .name-item span{
    font-weight: 500;
    font-size: 18px;
    color: #0B192F;
}

#peopleList img{
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 12px;
}

.check-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-item .nickname-item{
    color: #B0AFAF;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    width: max-content;
}

.check-item .checkbutton{
    padding: 8px;
    color: #FAFAFA;
    background-color: #0B192F;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    font-size: 25px;
    line-height: 22px;
    font-weight: 500;
    margin: 0px 15px;
    text-align: center;
    cursor: pointer;
}

.wrapper{height:auto;display:flex;justify-content:center;align-items:center;background-color:#eee}
/*.checkmark__circle{stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 2;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}
*/.checkmark{width: 56px;height: 56px;border-radius: 3px;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin: 10% auto;box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both}
.checkmark__check{transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards}@keyframes stroke{100%{stroke-dashoffset: 0}}@keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}@keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}
