/*--- Stile per la box di benvenuto per un nuovo utente ---*/

.zerochat{
    height: 80vh;
}

.line{
    width: 100%;
    background-color: white;
    height: 2px;
    margin: 8px 0px 8px 0px;
}

#hellocontainer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hellocontainer img{
    width: 80px;
    height: 80px;
    display: inline;
}

#hellotopbox{
    display: flex;
}

#nochats{
    font-size: 20px;
    font-weight: 300;
    color: #8E8FA0;
}

#helloMessage{
    font-size: 70px;
    font-weight: 700
}

#helloDescription{
    width: 100%;
    text-align: center;
}

#addUser{
    padding: 12px;
    margin-top: 18px;
    background-color: #0B192F;
    border-radius: 13px;
    cursor: pointer;
}