@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: url("../img/ui/background.png");
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

/*----- Classi generali ----- */
.mostra {
    display: block;
}

.nascondi {
    display: none !important;
}

.centra {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----- Lato destro -----*/

#chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

/*----- Barra laterale -----*/

#lat-bar {
    background: #FAFAFA;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 25%;
    min-width: 300px;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    height: 50px;
    border-bottom: 1px solid #8E8FA0;
}

#logo img {
    width: 45px;
    height: 45px;
    margin-right: 6px;
}

#logo span {
    font-size: 33px;
    font-weight: 600;
    margin-left: 8px;
}


#contatti-box {
    padding-top: 20px;
    width: 100%;
}

#contatti-box span {
    width: 100%;
    text-align: left;
    font-size: 23px;
    font-weight: 500;
    margin-left: 12px;
}

#list-chat {
    height: calc(100vh - 190px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#list-chat::-webkit-scrollbar {
    display: none;
}

/*---- Classi barra laterale ----*/

.chat {
    height: 80px;
    width: 100%;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.chat:hover {
    background: hsla(0, 0%, 85%, 0.3);
}

.user,
.group {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.user img,
.group img {
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    width: 55px;
    height: 55px;
}

.user .dati {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}

.group .dati {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
}

.user .nome,
.group .nome {
    font-size: 25px;
    font-weight: 400;
}

.user .nickname {
    font-size: 14px;
    font-weight: 300;
    color: #B0AFAF;
}

.state {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.point-state-offline {
    width: 10px;
    height: 10px;
    background-color: red !important;
}

.point-state-online {
    width: 10px;
    height: 10px;
    background-color: green !important;
}

.newMessages{
    width: 12px;
    height: 12px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    font-size: 13px;
    color: white;
    padding: 2px;
}

.state > div{
    background-color: #0B192F;
    border-radius: 50%;
}

/*---   BOTTONI DI AZIONE   ---*/

#actions {
    position: absolute;
    bottom: 0;
    width: 25%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -4px 13px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    z-index: 100;
    background-color: #FAFAFA;
}

#actions div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 8px;
}

#actions div span {
    font-size: 17px;
    font-weight: 500;
    margin-left: 5px;
}

#actions .buttonaction {
    padding: 6px;
    background-color: #0B192F;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

#actions .buttonaction img {
    width: 25px;
    height: 25px;
}

