<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../css/styleChat.css">
    <link rel="stylesheet" href="../css/newGroup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="../js/newGroupManager.js"></script>
    <title>HeyChat</title>
</head>

<body>
    <div id="lat-bar">
        <div id="logo">
            <img src="../img/logo.png">
            <span>HeyChat</span>
        </div>

        <div id="contatti-box">
            <span>Contatti</span>
            <div id="list-chat">
                <div class="chat">
                    <div class="user">
                        <img src="https://random.imagecdn.app/65/65">
                        <div class="dati">
                            <div class="nome">Mario Rossi</div>
                            <div class="nickname">@mario_rossi</div>
                        </div>
                    </div>
                    <div class="state">
                        <div class="point-state">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="group-box">
        <div id="newGroup">
            <span>Crea nuovo gruppo</span>
            <div id="nameGroup">
                <span>Nome: </span>
                <input type="text">
            </div>

            <div id="peopleList">

                <div class="item-new-group">
                    <div class="name-item">
                        <img src="https://random.imagecdn.app/42/42" />
                        <span>Mario Rossi</span>
                    </div>

                    <div class="check-item">
                        <div class="nickname-item">@mario_rossi</div>
                        <div class="checkbutton" data-active="0">
                            <svg viewBox="-100,-90,450,450" width="33px" height="33px" fill-rule="evenodd"
                                class="plus-item mostra">
                                <g fill="#fafafa" fill-rule="evenodd" stroke="none" stroke-width="2"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(10.66667,10.66667)">
                                        <path d="M11,2v9h-9v2h9v9h2v-9h9v-2h-9v-9z"></path>
                                    </g>
                                </g>
                            </svg>

                            <svg class="checkmark nascondi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>

                            <svg class="nascondi" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"
                                viewBox="0 0 64 64" width="28" height="28">
                                <line x1="14" x2="51" y1="32" y2="32" fill="none" stroke="#ffffff"
                                    stroke-miterlimit="10" stroke-width="3" class="colorStroke010101 svgStroke"></line>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="item-new-group">
                    <div class="name-item">
                        <img src="https://random.imagecdn.app/42/42" />
                        <span>Mario Rossi</span>
                    </div>

                    <div class="check-item">
                        <div class="nickname-item">@mario_rossi</div>
                        <div class="checkbutton" data-active="0">
                            <svg viewBox="-100,-90,450,450" width="33px" height="33px" fill-rule="evenodd"
                                class="plus-item mostra">
                                <g fill="#fafafa" fill-rule="evenodd" stroke="none" stroke-width="2"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(10.66667,10.66667)">
                                        <path d="M11,2v9h-9v2h9v9h2v-9h9v-2h-9v-9z"></path>
                                    </g>
                                </g>
                            </svg>

                            <svg class="checkmark nascondi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>

                            <svg class="nascondi" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"
                                viewBox="0 0 64 64" width="28" height="28">
                                <line x1="14" x2="51" y1="32" y2="32" fill="none" stroke="#ffffff"
                                    stroke-miterlimit="10" stroke-width="3" class="colorStroke010101 svgStroke"></line>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="item-new-group">
                    <div class="name-item">
                        <img src="https://random.imagecdn.app/42/42" />
                        <span>Mario Rossi</span>
                    </div>

                    <div class="check-item">
                        <div class="nickname-item">@mario_rossi</div>
                        <div class="checkbutton" data-active="0">
                            <svg viewBox="-100,-90,450,450" width="33px" height="33px" fill-rule="evenodd"
                                class="plus-item mostra">
                                <g fill="#fafafa" fill-rule="evenodd" stroke="none" stroke-width="2"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(10.66667,10.66667)">
                                        <path d="M11,2v9h-9v2h9v9h2v-9h9v-2h-9v-9z"></path>
                                    </g>
                                </g>
                            </svg>

                            <svg class="checkmark nascondi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>

                            <svg class="nascondi" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"
                                viewBox="0 0 64 64" width="28" height="28">
                                <line x1="14" x2="51" y1="32" y2="32" fill="none" stroke="#ffffff"
                                    stroke-miterlimit="10" stroke-width="3" class="colorStroke010101 svgStroke"></line>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="item-new-group">
                    <div class="name-item">
                        <img src="https://random.imagecdn.app/42/42" />
                        <span>Mario Rossi</span>
                    </div>

                    <div class="check-item">
                        <div class="nickname-item">@mario_rossi</div>
                        <div class="checkbutton" data-active="0">
                            <svg viewBox="-100,-90,450,450" width="33px" height="33px" fill-rule="evenodd"
                                class="plus-item mostra">
                                <g fill="#fafafa" fill-rule="evenodd" stroke="none" stroke-width="2"
                                    stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                    stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(10.66667,10.66667)">
                                        <path d="M11,2v9h-9v2h9v9h2v-9h9v-2h-9v-9z"></path>
                                    </g>
                                </g>
                            </svg>

                            <svg class="checkmark nascondi" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>

                            <svg class="nascondi" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"
                                viewBox="0 0 64 64" width="28" height="28">
                                <line x1="14" x2="51" y1="32" y2="32" fill="none" stroke="#ffffff"
                                    stroke-miterlimit="10" stroke-width="3" class="colorStroke010101 svgStroke"></line>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>